.sidebar{
    position: relative;
    width: 30%;
    box-shadow: 3px 3px 5px 6px #ccc;
    background-color:  rgba(255, 0, 0, 0.05);
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-animation: fadeinS 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinS 1s; /* Firefox < 16 */
     -ms-animation: fadeinS 1s; /* Internet Explorer */
      -o-animation: fadeinS 1s; /* Opera < 12.1 */
         animation: fadeinS 1s;
}


.insygnia-label{
    background-color: white;
    border-top: solid;
    border-bottom: solid
}


h1.label{
    font-family: 'Antykwa';
    margin-top: 0px;

}
.description{
    position: relative;
    height: 100%;
    width: 75%;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-animation: fadeinD 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinD 1s; /* Firefox < 16 */
     -ms-animation: fadeinD 1s; /* Internet Explorer */
      -o-animation: fadeinD 1s; /* Opera < 12.1 */
         animation: fadeinD 1s;
}
#herb{
    width: 90%; 
}
#baner{
    width: 100%;
}
.banner-wrapper{
    margin: auto;
    width: 60%;

}
#flaga{
    width:100%;
  
}
h1.flaga{
    font-family: 'Antykwa';
    font-size: 45px;
}

#pieczec{
    width: 100%;
    left: 0px;
} 
@keyframes fadeinS {
    from { opacity: 0.3; right: -200px }
    to   { opacity: 1; right: 0px }
}

/* Firefox < 16 */
@-moz-keyframes fadeinS {
    from { opacity: 0.3; right: -200px }
    to   { opacity: 1; right: 0px }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinS {
    from { opacity: 0.3; right: -200px }
    to   { opacity: 1; right: 0px }
}

/* Internet Explorer */
@-ms-keyframes fadeinS {
    from { opacity: 0.3; right: -200px }
    to   { opacity: 1; right: 0px }
}

/* Opera < 12.1 */
@-o-keyframes fadeinS {
    from { opacity: 0.3; right: -200px }
    to   { opacity: 1; right: 0px }
}

@keyframes fadeinD {
    from { opacity: 0.3; left: -200px }
    to   { opacity: 1; left: 0px }
}

/* Firefox < 16 */
@-moz-keyframes fadeinD {
    from { opacity: 0.3; left: -200px }
    to   { opacity: 1; left: 0px }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinD {
    from { opacity: 0.3; left: -200px }
    to   { opacity: 1; left: 0px }
}

/* Internet Explorer */
@-ms-keyframes fadeinD {
    from { opacity: 0.3; left: -200px }
    to   { opacity: 1; left: 0px }
}

/* Opera < 12.1 */
@-o-keyframes fadeinD {
    from { opacity: 0.3; left: -200px }
    to   { opacity: 1; left: 0px }
}