
body 
{
    background-color: white;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    

}
@font-face {
    font-family: 'Antykwa';
    src: url(../Resources/AntykwaTorunska-Regular.ttf);
}
html{
    padding: 15px;
    margin: 0px;
}
h1{
    font-family: 'Antykwa';
}

h1.banner{
    color: white;
    background-color: brown;
    width: 100%;
    text-align: center;
    line-height: 300%;
    font-size: 45px;
    
}
.empty-space{
    height: 100px;
}
.maincontent{
    position: relative;
    width: 100%;
    background-color:whitesmoke;
    column-gap: 20px;
    height:100%;
    display: flex;
}

h1.date{
    font-family: 'Antykwa';
    font-size: 45px;
}

h1.zaprojektowanesymbole{
    font-family: 'Antykwa';
    font-size: 45px;
}


p{
    font-family: 'Antykwa';
    text-align: center;
    text-align: justify;
    font-size: 25px;
}
.buttons{
    position: relative;
    width: 100%;
    background-color:whitesmoke;
    column-gap: 20px;
    height:100%;
    display: flex;
}
.description-images-wrapper{
    display: flex;
    width: 100%
}
.image-wrapper{
    width: 30%;
    margin: auto
}
.image-wrapper > img{
    width:100%
}
.image-wrapper > p.image-label{
    text-align: center;
    font-family: 'Antykwa';
    font-size: 25px;
}
h1.historia{
    font-size: 45px;
}
