body 
{
    background-color:whitesmoke;
    width: 70%;
    margin: auto;


}
@font-face {
    font-family: 'Antykwa';
    src: url(AntykwaTorunska-Regular.ttf);
}
h1{
    font-family: 'Antykwa';
}
html{
    padding: 15px;
    margin: 5px;
}


.emptyspace{
    height: 120px;
}



